//globl transition css

/*fade*/

.transition-fade-enter{
  opacity: 0.01;
  transition: opacity 0.5s;
}
.transition-fade-enter.transition-fade-enter-active{
  opacity: 1;
}
.transition-fade-leave{
  opacity: 0;
}
.transition-fade-leave.transition-fade-leave-active{
  opacity: 0;
}

/*breadcrumb*/
.breadcrumb-enter-active,
.breadcrumb-leave-active {
  transition: all .5s;
}

.breadcrumb-enter,
.breadcrumb-leave-active {
  opacity: 0;
  transform: translateX(20px);
}

.breadcrumb-move {
  transition: all .5s;
}

.breadcrumb-leave-active {
  position: absolute;
}
